<!DOCTYPE html>
<html>
<body>
<svg class="collection-arrow Icon Icon--select-arrow-right" role="presentation" viewBox="0 0 11 18">
      <path d="M1.5 1.5l8 7.5-8 7.5" stroke-width="2" stroke="currentColor" fill="none" fill-rule="evenodd" stroke-linecap="square"></path>
    </svg> 
</body>
</html>