<div class="">

  {% section 'Affiliate_Network-text-with-image' %}
  {% section 'Affiliate_Network-text-with-image2' %}
  {% section 'Affiliate_Network-custom-html' %}
  {% section 'Affiliate_Network-text-with-image3' %}
  {% section 'Affiliate_Network-page-faq' %}
  {% section 'Affiliate_Network-custom-html2' %}
  
  
</div>