<div class="Container">
  {% include 'breadcrumbs' %}
	<header class="PageHeader">
		<div class="Container">
		<div class="SectionHeader SectionHeader--center">
			<h1 class="SectionHeader__Heading Heading u-h1 boost-pfs-filter-collection-header">{{ page.title }}</h1>

			{%- if collection.description != blank -%}
			<div class="SectionHeader__Description Rte">
				{{- collection.description -}}
			</div>
			{%- endif -%}
		</div>
		</div>
	</header>
  {% section 'Art-and-Decor' %}
  <div class="PageContent PageContent--narrow Rte" style="margin-top:30px;">
    {{ page.content }}
  </div>
</div>