
  <header class="PageHeader">
    <div class="SectionHeader SectionHeader--center">
      <h1 class="SectionHeader__Heading Heading u-h1">{{ page.title }}</h1>
    </div>
  </header>
 
  	{% section 'about-text-with-image' %}
  	{% section 'about-text-with-image2' %}
  	{% section 'About-Featured' %}
  	{% section 'about-text-with-image3' %}
  	{% section 'about' %}
	
  	
  
  <div class="PageContent PageContent--narrow Rte">
    {{ page.content }}
  </div>
